@page "/Aluno/Novo"
@using PortalAlunoWeb_Front.Data
@inject HttpClient http
@inject NavigationManager navigation

@*os 3 de baixo é para inicializar o toast*@
@using PortalAlunoWeb_Front.Service
@using PortalAlunoWeb_Domain.Enumerador
@inject ToastService toastService

<h3>Novo Aluno</h3>

<UsuarioForm Aluno="@aluno" BotaoTextoCancelar="Voltar" BotaoTextoSubmit="Salvar" OnValidSubmit="SalvarAluno" ></UsuarioForm>

@code {
    public Aluno aluno = new Aluno();


    private void SalvarAluno()
    {
        http.PostJsonAsync("https://localhost:7126/api/aluno", aluno);

        toastService.ShowToast("Aluno cadastrado com Sucesso!", ToastLevel.Success);

        navigation.NavigateTo("Aluno");
    }
}
