@using PortalAlunoWeb_Front.Data
@page "/Aluno/Editar/{id}"
@inject HttpClient http
@inject NavigationManager navigation

<h3>Editar Aluno</h3>

<UsuarioForm Aluno="@aluno" BotaoTextoCancelar="Voltar" BotaoTextoSubmit="Atualizar" @OnValidSubmit></UsuarioForm>

@code {
    [Parameter]
    public string Id { get; set; }

    public Aluno aluno = new Aluno();

    protected override async Task OnInitializedAsync()
    {
        await BuscarAlunoPorId();
    }

    public  async Task BuscarAlunoPorId()
    {
        aluno = await http.GetJsonAsync<Aluno>("https://localhost:7126/api/aluno/"+ Id);
    }

    public void AtualizarAluno()
    {
        http.PutJsonAsync("https://localhost:7126/api/aluno/", aluno);

        navigation.NavigateTo("Aluno");
    }
}
