@inherits LayoutComponentBase

   
<div class="sidebar-collapse">   
    <NavMenu />
</div>

<div id="page-wrapper" class="gray-bg dashbard-1">
    <Toast />

    <div class="top-row px-4">
        <TopMenuNavBar />
    </div>

    <div class="content px-4">
        @Body
    </div>
    <div class="footer">
        <Footer />
    </div>
</div>